<!DOCTYPE HTML>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Welcome</title>
</head>
<body th:inline="text">
<p> Здравствуйте, <span th:text="${name}"></span>!
    <br> Вы были добавлены в качестве трекера в систему.
     Ваши данные данные для входа в систему:" <a href="${url}">Monzun</a>
        <br>Почта :<span th:text=" ${email}"></span>
        <br>Пароль :<span th:text=" ${password}"></span>
    </p>
</body>
</html>